<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Headline List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/news.css}"/>


    <script>
        $(document).ready(function() {
            $("#sidebarCollapse").on("click", function() {
                $("#sidebar").toggleClass("active");
                $(this).toggleClass("active");
            });
        });
    </script>

    <style>

        .thumbnail {
            box-shadow: 0 4px 2px rgba(43, 59, 93, 0.30);
        }

        .caption {
            white-space: normal;
            height: 111px;
            overflow: hidden;
        }

    </style>
</head>
<body>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" style="font-family: 'PT Sans'">
        <div class="sidebar-header">
            <h3>Breaking News</h3>
        </div>

        <ul class="list-unstyled components">


            <li>
                <a th:href="@{/}">Home</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Headlines from Serbia</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a th:href="@{/listTop}">Top headlines</a></li>
                    <li><a th:href="@{/listScience}">Top science headlines</a></li>
                    <li><a th:href="@{/listSports}">Top sports headlines</a></li>
                    <li><a th:href="@{/listHealth}">Top health headlines</a></li>
                    <li><a th:href="@{/listBusiness}">Top business headlines</a></li>
                    <li><a th:href="@{/listTechnology}">Top technology headlines</a></li>
                    <li><a th:href="@{/listEntertainment}">Top entertainment headlines</a></li>
                </ul>
                <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">Headlines from World</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li><a th:href="@{/listUSA}">Headlines from USA</a></li>
                    <li><a th:href="@{/listRussia}">Headlines from Russia</a></li>
                    <li><a th:href="@{/listAustralia}">Headlines from Australia</a></li>
                    <li><a th:href="@{/listUnitedKingdom}">Headlines from United Kingdom</a></li>
                    <li><a th:href="@{/listChina}">Headlines from China</a></li>
                    <li><a th:href="@{/listJapan}">Headlines from Japan</a></li>
                    <li><a th:href="@{/listGermany}">Headlines from Germany</a></li>
                </ul>
                <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false">Headlines from Newspapers</a>
                <ul class="collapse list-unstyled" id="pageSubmenu3">
                    <li><a th:href="@{/listBBCNews}">Headlines from BBC News</a></li>
                    <li><a th:href="@{/listGuardian}">Headlines from The Guardian (UK)</a></li>
                    <li><a th:href="@{/listWashingtonPost}">Headlines from The Washington Post</a></li>
                    <li><a th:href="@{/listCNN}">Headlines from CNN</a></li>
                    <li><a th:href="@{/listDailyMail}">Headlines from Daily Mail</a></li>
                    <li><a th:href="@{/listTime}">Headlines from Time</a></li>
                    <li><a th:href="@{/listNG}">Headlines from National Geographic</a></li>
                </ul>
            </li>

        </ul>
    </nav>

<div class="container" style="font-family: 'PT Sans'">
    <button style="margin-top: 20px" type="button" id="sidebarCollapse" class="btn btn-info active">
        <i class="glyphicon glyphicon-align-left"></i>
        <span>Toggle Sidebar</span>
    </button>
    <div th:switch=true>
        <h2 style="margin-bottom: 40px" th:case="${category1 != null}">Top <span
                th:text="${category1}"></span> headlines from Serbia</h2>
        <h2 style="margin-bottom: 40px" th:case="${country1 != null}">Top headlines from
            <span th:text="${country1}"></span></h2>
        <h2 style="margin-bottom: 40px" th:case="${newspaper1 != null}">Top headlines from
            <span th:text="${newspaper1}"></span></h2>
    </div>

    <div class="row" style="margin-left: 6px">
        <div th:each="headline : ${headlines}">
            <div class="col-md-3">

                <div class="thumbnail" style="width: 242px; height: 270px">
                    <a th:href="@{/headline/{id}(id=${headline.headlineID})}">
                        <img th:src="${headline.urlToImage}" style="width: 242px; height: 150px" alt="...">
                    </a>
                    <div class="caption">

                        <b th:text="${headline.author}"></b>

                        <p th:text="${headline.title}"></p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>

</body>
</html>
